body {
    background-color: rgb(255 250 186);
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 24px;
    color: rgb(21, 4, 34)
}

.strong {
    background-color: greenyellow;
    border: 5px green solid;
    margin: 10px;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;

}

.light {
    background-color: yellow;
    border: 5px goldenrod solid;
    margin: 10px;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient {
    background: linear-gradient(yellow, blue);
    color: azure;
    border: 5px darkblue solid;
    margin: 10px;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blueOne {
    background-color: blue;
    color: white;
    border: 5px darkblue solid;
    margin: 10px;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#genbut {
    background-color: green;
    border: solid black 2px;
    color: white;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#clearbut {
    background-color: darkgray;
    border-radius: 10px;
    border: solid black 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#genFizz {
    background-color: yellow;
    border-radius: 10px;
    border: solid black 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#genBuzz {
    background-color: blue;
    border-radius: 10px;
    border: solid black 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#genFizzBuzz {
    background: linear-gradient(yellow, blue);
    border-radius: 10px;
    border: solid black 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
button:hover{
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px 10px;
    margin: 8px 0;
    font-size: 20px;
}

#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 24px
}

